<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="LocalFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:/logs/financial.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>180</maxHistory>
			<totalSizeCap>10GB</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<Pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="springExeAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<Pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>


	<logger name="com.kendy">
		<level value="debug" />
	</logger>

<!--	<logger name="cn.womusic.bp.ApiLog" additivity="false">
		<level value="INFO" />
		<appender-ref ref="apiAppender" />
	</logger>-->

	<root>
		<level value="INFO" />
		<appender-ref ref="springExeAppender" />
		<appender-ref ref="LocalFileAppender" />
	</root>
</configuration>