<?xml version="1.0" encoding="UTF-8"?>
<beans   
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:c="http://www.springframework.org/schema/c"  
    xmlns:cache="http://www.springframework.org/schema/cache"  
    xmlns:util="http://www.springframework.org/schema/util"  
    xmlns:task="http://www.springframework.org/schema/task"  
    xmlns:oxm="http://www.springframework.org/schema/oxm"  
    xmlns:lang="http://www.springframework.org/schema/lang"  
    xmlns:jms="http://www.springframework.org/schema/jms"  
    xmlns:jee="http://www.springframework.org/schema/jee"  
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
    	http://www.springframework.org/schema/oxm   
        http://www.springframework.org/schema/oxm/spring-oxm-4.3.xsd  
        http://www.springframework.org/schema/jms   
        http://www.springframework.org/schema/jms/spring-jms-4.3.xsd  
        http://www.springframework.org/schema/jee   
        http://www.springframework.org/schema/jee/spring-jee-4.3.xsd  
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.3.xsd  
        http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop.xsd  
        http://www.springframework.org/schema/util   
        http://www.springframework.org/schema/util/spring-util-4.3.xsd  
        http://www.springframework.org/schema/jdbc   
        http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd  
        http://www.springframework.org/schema/cache   
        http://www.springframework.org/schema/cache/spring-cache-4.3.xsd  
        http://www.springframework.org/schema/task   
        http://www.springframework.org/schema/task/spring-task-4.3.xsd  
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/lang   
        http://www.springframework.org/schema/lang/spring-lang-4.3.xsd  
        http://www.springframework.org/schema/tx   
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        ">  
      
       <context:annotation-config />
       <bean id="dbUtil" class="com.kendy.db.DBUtil"></bean>  
       <bean id="dataConstants" class="com.kendy.constant.DataConstans"></bean> 
       <context:component-scan base-package="com.kendy.controller" />     
       <context:component-scan base-package="com.kendy.service" />     

<!--        <bean id="instancePool" class="com.kendy.application.InstancePool"></bean>  -->
       
<!--        <bean id="searchController" class="com.kendy.test.SearchController"></bean>    -->
<!--        <bean id="orderService" class="com.kendy.test.OrderService"></bean>   -->

<!--        <bean id="baseController" class="com.kendy.controller.BaseController"></bean>    -->
<!--        <bean id="myController" class="com.kendy.controller.MyController"></bean>    -->
<!--        <bean id="combineIDController" class="com.kendy.controller.CombineIDController"></bean>    -->
<!--        <bean id="teamProxyController" class="com.kendy.controller.TeamProxyController"></bean>    -->
<!--        <bean id="smAutoController" class="com.kendy.controller.SMAutoController"></bean>    -->
<!--        <bean id="bankFlowController" class="com.kendy.controller.BankFlowController"></bean>    -->
<!--        <bean id="gdController" class="com.kendy.controller.GDController"></bean>    -->
<!--        <bean id="lmController" class="com.kendy.controller.LMController"></bean>    -->
<!--        <bean id="tgController" class="com.kendy.controller.tgController.TGController"></bean>    -->
       <bean id="httpUtil" class="com.kendy.spider.HttpUtil"></bean>  
       <bean id="customView" class="com.kendy.util.CustomView"></bean>  
<!-- 		<bean id="autoDownloadZJExcelService" class="com.kendy.service.AutoDownloadZJExcelService"></bean>   -->
<!-- 		<bean id="jifenService" class="com.kendy.service.JifenService"></bean>   -->
<!-- 		<bean id="memberService" class="com.kendy.service.MemberService"></bean>   -->
<!-- 		<bean id="shangmaService" class="com.kendy.service.ShangmaService"></bean>   -->
<!-- 		<bean id="teamProxyService" class="com.kendy.service.TeamProxyService"></bean>   -->
<!-- 		<bean id="tGExportExcelService" class="com.kendy.service.TGExportExcelService"></bean>   -->
<!-- 		<bean id="tgWaizhaiService" class="com.kendy.service.TgWaizhaiService"></bean>   -->
<!-- 		<bean id="waizhaiService" class="com.kendy.service.WaizhaiService"></bean>   -->
<!-- 		<bean id="zonghuiService" class="com.kendy.service.ZonghuiService"></bean>   -->
<!-- 		<bean id="moneyService" class="com.kendy.service.MoneyService"></bean>   -->
		
		
<!-- <bean id="" class="com.kendy.service."></bean>   -->
<!--        <bean id="quotaController" class="com.kendy.controller.QuotaController"></bean>    -->
      
<!--       <context:property-placeholder location="classpath:log4j/log4j.properties" />   -->
      
		

</beans>